/* 1. ---General Styles--- */
 #mobile-outline {
    outline: 20px solid #333;
    max-width: 412px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
 } 
 
 body {
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
 }
 
 a {
    text-decoration: none;
    transition: all .5s ease-in-out;
 }
 
 input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }
 
 .cr-red {
    color: #9a2018;
 }
 
 .line-separator {
    margin-top: 20px;
    border-top: solid 3px #CF6666;
    padding-top: 20px;
 }

/* 2. ---Main Nav--- */

#main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
 } 
 
 #main-nav input, #burger-con {
    display: none;
 }
 
 /*   ~ sibling selector   */
 
 
 #main-nav input:checked ~ #burger-con {
    display: block;
 }
 
 #main-nav input:checked ~ label img {
    transform: rotate(90deg);
 }
 
 #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
 }
 
 #main-nav ul li {
    border-bottom: 1px solid #efefef;
 }
 
 
 
 #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 } 
 
 
 
 #logo {
    margin-bottom: 20px;
    max-width: 382px;
 }

/* 3. ---Main Hero Image--- */

#spa {
   background: url(../images/) no-repeat; /*image goes here*/
   height: 200px;
}

.book-now {
   background-color: #9a2018;
   color: #fff;
   font-size: 16px;
   transition: background-color 500ms linear;
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: italic;
   transition:all 0.3s ease;
   cursor: pointer;
}

.book-now:hover {
   background-color: rgb(196, 28, 28);
}

#book-now-hero {
   height: 67px;
}

#spa-heading-box {
   align-self: end;
}

.spa-img-h2, .hero-img-h3 {
   background: rgb(255, 255, 255);
   padding: 10px 15px;
   font-size: 14px;
}

.spa-img-h2 span,  .spa-img-h3 span {
   color: #9a2018;
   font-size: 12px;
}

#spa-summary p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

/* 4. ---Main Hero Image Contact--- */ /* from example class dont get catch up on the names*/

/* 5. ---Why Choose Us--- */

/* 6. ---About & FAQ--- */

/* 7. ---Contact--- */

/* 8. ---Footer--- */

#footer-hero {
    background-image: url(../images/footer.jpg); /*add image*/
     background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
    padding-bottom: 80px;
 }
 
 #footer-hero h3 {
    margin-top: 30px;
    font-size: 28px;
    margin-bottom: 16px;
 }
 
 #footer-privacy .line-seperator {
    margin-top: 0px;
 }
 
 #footer-contact-info h3 {
    font-size: 23px;
 }
 
 #footer-contact-info p {
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 11px;
 }